#top {
    @include mobile_layout ($color-light-gray);
    align-items: center;
    @include desktop {
        @include desktop-layout($color-white);
    }
}

#mid {
    @include mobile_layout ($color-white);
    margin-bottom: 40px;
    & ul {
        @include desktop {
            @include desktop-layout($color-white);
            justify-content: space-between;
        }
    }
}

#bottom {
    @include mobile_layout ($color-white);
}

