.box {
    display:flex;
    flex-direction: initial;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
    &__button {
        position: relative;
        border: solid 1px black;
        width: 100%;
        padding-left: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 11px;
        border-radius: 20px;
        text-decoration: none;
        color:$color-black;
        background-color: $color-light-gray;
        &__number {
            position: absolute;
            top: 22.5px;
            left: -11px;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            text-align: center;

            color: $color-white;
            background-color: $color-primary;
        }
    }
}