#location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $colour-gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    background-color: transparent;
    border:none;
    text-align: center;
}