#location {
    display: flex;
    @include center_content;
    width: 100%;
    background-color: $colour-gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    background-color: transparent;
    border:none;
    @include center_content;
}