.btn {
    background-image: linear-gradient(to left top, $color-primary, $color-secondary);
    height: 50px;
    width: 210px;
    border-radius: 50px;
    border:none;
    color: white;
    cursor: pointer;
    font-size:100%;
    margin-bottom: 50px;
}