.btn_purple {
    background-image: linear-gradient(to left top, $color-primary, $color-secondary);
    height: 40px;
    padding: 16px;
    border-radius: 50px;
    border: 0px;
    color: white;
    white-space: nowrap;
    line-height: 13.3px;
    cursor: pointer;
    
}