
@mixin mobile_layout ($color) {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: $color;
}

@mixin clickable_heart ($top, $right){
            height: 100%;
            & i {
                position: absolute;
                top: $top;
                right: $right;
                font-size: 150%;
                &:nth-child(1) {
                    color:$color-primary;
                }
                &:nth-child(2) {
                    color:$color-black;
                    background-color: $color-white;
                    &:hover {
                        display: none;
                        cursor: pointer;
                    }
                }
    }
}