$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-accent: #99E2D0;
$color-green: #139273;
$color-white: #fff;
$color-black: black;
$color-gray: #eaeaea;
$color-light-gray:#f6f6f6;
$color-dark-gray:#7e7e7e;

$mobile-picture-height:100px;
