$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-black: black;
$colour-gray: gray;
$colour-light-gray:lighten($colour-gray,10%);

$mobile-picture-height:100px;
